.sub-title{
    @import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 235px;
    left: 50%;
    width: 396px;
    height: 29px;
    text-align: center;
    letter-spacing: 0;
    opacity: 1;
    color: #FEFEFE;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    margin-left: -200px;
    transition: all 1s;
    span{
        color: #FFDE00;

    }
    }

    .title{
        position: absolute;
    box-sizing: border-box;
    top: 238px;
    left: 50%;
    width: 262px;
    height: 103px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    color: #FCFCFC;
    font-size: 4rem;
    margin: 0;
    padding: 19px 0px ;
    z-index: 2;
    margin-left: -253px;
    transition: all .6s ease-out;
    
    &::first-letter{
        color: #FEDD00;
    }
}
.active{
    transform: rotate(45deg) translateY(-200px);
	opacity: 0;
	filter: blur(20px);
}
.sub-title span{
    transition-delay: 0.4s;

}

.active1{
    transform:translate(-280px,-220px) scale(0) ;
    opacity: 0;
}
.active2{
    transform:translate(-280px,-200px) scale(0) ;
    opacity: 0;
}
.active3{
    transform:translate(-250px,-150px) scale(0) ;
    opacity: 0;
}
.active4{
    transform:translate(-250px,-120px) scale(0) ;
    opacity: 0;
}
.active5{
    transform:translate(-250px,-100px) scale(0) ;
    opacity: 0;
}