.sub-title{
    @import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 235px;
    left: 50%;
    width: 396px;
    height: 29px;
    text-align: center;
    letter-spacing: 0;
    opacity: 1;
    color: #FEFEFE;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    margin-left: -200px;
    span{
        color: #FFDE00;
    }
    }

    .title{
        position: absolute;
    box-sizing: border-box;
    top: 238px;
    left: 50%;
    width: 262px;
    height: 103px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    color: #FCFCFC;
    font-size: 4rem;
    margin: 0;
    padding: 19px 0px ;
    z-index: 2;
    margin-left: -253px;
    
    &::first-letter{
        color: #FEDD00;
    }
    
    
    }

    .portfolio-container{
        display: flex;
        position: absolute;
        top: 366px;
        left: 50%;
        margin-left: -310px;
        a{
            text-decoration: none;
        }
    }

    .work1,.work2,.work3{
        display: flex;
        width: 199px;
        height: 184px;
        margin-left: 13px;
        cursor: pointer;
        text-decoration: none;
        .work-hover{
        height: 0px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
        width: 100%;
        align-self: flex-end;
        background-color: #fedd00d9;
        transition: height 300ms;
    
        }
        &:hover{
            .work-hover{
                height: 70px;
            }
        }

    }
    .work1{
     background-image: url('../../assets/imags/portfolioImg/port1.png');
    }
    .work2{
     background-image: url('../../assets/imags/portfolioImg/port2.png');
    }
    .work3{
     background-image: url('../../assets/imags/portfolioImg/port3.png');
    }

    