
.main-port-container{
    height: 335px;
}


    .portfolio-container{
        display: flex;
        position: absolute;
        top: 366px;
        left: 50%;
        margin-left: -310px;
        a{
            text-decoration: none;
        }
    }

    .work1,.work2,.work3{
        display: flex;
        width: 199px;
        height: 184px;
        margin-left: 13px;
        cursor: pointer;
        text-decoration: none;
        .work-hover{
        height: 0px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
        width: 100%;
        align-self: flex-end;
        background-color: #fedd00d9;
        transition: height 300ms;
    
        }
        &:hover{
            .work-hover{
                height: 70px;
            }
        }

    }
    .work1{
     background-image: url('../../assets/imags/portfolioImg/port1.png');
    }
    .work2{
     background-image: url('../../assets/imags/portfolioImg/port2.png');
    }
    .work3{
     background-image: url('../../assets/imags/portfolioImg/port3.png');
    }

    