
.port-container{
    height: 335px;
    position: relative;
    

}

.port-container>:nth-child(1){
    height: 130px;
}

    .portfolio-container{
        display: flex;
        a{
            text-decoration: none;
        }
    }

    .work1,.work2,.work3{
        display: flex;
        width: 199px;
        height: 184px;
        margin-left: 13px;
        cursor: pointer;
        text-decoration: none;
        .work-hover{
        height: 0px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
        width: 100%;
        align-self: flex-end;
        background-color: #fedd00d9;
        transition: height 300ms;
    
        }
        &:hover{
            .work-hover{
                height: 70px;
            }
        }

    }
    .work1{
     background-image: url('../../assets/imags/portfolioImg/port1.png');
     transform: translateY(500%);
     opacity: 0;
     transition: all .4s ease-out;
    }
    .work2{
     background-image: url('../../assets/imags/portfolioImg/port3.png');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     transform: translateY(500%);
     opacity: 0;
     transition: all .4s ease-out .4s;
    }
    .work3{
     background-image: url('../../assets/imags/portfolioImg/port2.png');
     transform: translateY(500%);
     opacity: 0;
     transition: all .4s ease-out .2s;
    }

    .init{
        transform: translateY(0%);
        opacity: 1;
    }

    @media(max-width:580px){

        .port-container{
            margin-top: 160px;
            height: 260px;
            a{
                width: 120px;
                height: 110px;
                margin-left: 3px;
            }
        }
        .work1,.work2,.work3{
            transform: scale(.6);
            transform-origin: top left;
            margin-left: 3px;
        }

    }