

 .sub-title{
    // @font-face { font-family: 'Lato-Light'; src:url('../../assets/fonts/Lato/Lato-Light.ttf')};
    // font-family: 'Lato-Light';    
    @import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 235px;
    left: 515px;
    width: 396px;
    height: 29px;
    text-align: center;
    letter-spacing: 0;
    opacity: 1;
    color: #FEFEFE;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    span{
        color: #FFDE00;
    }
    }

    .title{
        position: absolute;
    box-sizing: border-box;
    top: 238px;
    left: 457px;
    width: 262px;
    height: 103px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    color: #FCFCFC;
    font-size: 4rem;
    margin: 0;
    padding: 19px 0px ;
    z-index: 2;
    
    &::first-letter{
        color: #FEDD00;
    }
    
    
    }

    .paragraph{
        display: -webkit-box;
        margin: 0;
        position: absolute;
        top: 349px;
        left: 491px;
        width: 254px;
        height: 234px;
        text-align: left;
        font: Light 16px/22px Lato;
        letter-spacing: 0;
        color: #FCFCFC;
        line-break: 10px;
        font-weight: 300;
        &::before{
            display: block;
            width: 16px;
            height: 204px;
            content: '';
            margin-right: 13px;
            background-color: #FEDD00;
        }
    }

    .img-container-4{
        width: 198px;
        height: 52px;
        background-image: url('../../assets/imags/aboutImg/about4.png');
        position: absolute;
        top: 507px;
        left: 448px;
    
    }
    .img-container-3{
        width: 194px;
        height: 52px;
        background-image: url('../../assets/imags/aboutImg/about3.png');
        position: absolute;
        top: 441px;
        left: 492px;
    }
    .img-container-2{
        top: 376px;
        left: 832px;
        width: 188px;
        height: 52px;
        background-image: url('../../assets/imags/aboutImg/about2.png');
        position: absolute;
    }
    .img-container-1{
        top: 312px;
        left: 790px;
        width: 329px;
        height: 52px;
        background-image: url('../../assets/imags/aboutImg/about1.png');
        position: absolute;
    
    }