

body{
//     @font-face { font-family: 'Lato-Black'; src:url('../../assets/fonts/Lato/Lato-Regular.ttf')};
//     font-family: 'Lato-Black';
}

.main-container{
    // @font-face { font-family: 'Lato-Black'; src:url('../../assets/fonts/Lato/Lato-Black.ttf')};
    // font-family: 'Lato-Black';
    @import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');
    font-family: 'Lato', sans-serif;
    background-color: #000000;
    height: 335px;
    width: 800px;
    position: relative;
   
}


.img-container-4{
    width: 365px;
    height: 52px;
    background-image: url('../../assets/imags/hatimgs/hatimg4.png');
    margin-left: 145px;
    transform-origin: top left;
    margin-top: -17px;


}
.img-container-3{
    width: 325px;
    height: 50px;
    background-image: url('../../assets/imags/hatimgs/hatimg3.png');
    transform-origin: top left;
    margin-top: 13px;
    margin-left: 189px;

}
.img-container-2{
    width: 323px;
    height: 50px;
    background-image: url('../../assets/imags/hatimgs/hatimg2.png');
    margin-top: 13px;
    margin-left: 329px;
    transform-origin: top left;

}
.img-container-1{
    width: 323px;
    height: 50px;
    background-image: url('../../assets/imags/hatimgs/hatimg1.png');
    margin-top: 13px;
    margin-left: 189px;
    transform-origin: top left;

}

.img-container-4{
    transition: all .3s ease-out;
    transform: translateX(300%);
}
.img-container-3{
    transition: all .3s ease-out .2s;
    transform: translateX(300%);
}
.img-container-2{
    transition: all .3s ease-out .4s;
    transform: translateX(300%);
}
.img-container-1{
    transition: all .3s ease-out .6s;
    transform: translateX(300%);
}
.active{
    transform: translateX(300%);
}
.init{
    transform: translateX(0%);
}

@keyframes mainAnimat{
    from {transform: translateX(0%)}
    to {transform: translateX(-100%)}
}

@media(max-width:580px){
    .img-container-4,.img-container-3,.img-container-2,.img-container-1{
        transform: scale(.8)
    }
}



