.contact-container{
    height: 355px;
    display: flex;
    flex-direction: column;
    position: relative;
    display: block;
    overflow: visible

}

.contact-container>:nth-child(1){
    height: 70px;
}


    .img-container{
        width: 365px;
        height: 52px;
        background-image: url('../../assets/imags/contact/contactimg.png');
        margin-left: -30px;
        transform: translateX(-300%);
        transition: all .4s ease-out;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .img-container-1,.img-container-2{
            display: flex;
            input{
                color: white;
                background-color: transparent;
                border: none;
                margin-left: 5px;
                font-size: 1rem;
                color: #7e7c71;
                width: 300px;
                &:focus{
                    outline: none;
                }
            }
        }

        .img-container-1{
            width: 485px;
            height: 50px;
            background-image: url('../../assets/imags/contact/nameimg.png');
            margin-top: 13px;
            transform: translateX(-300%);
            transition: all .4s ease-out .2s;

            
        }
        .img-container-2{
            width: 485px;
            height: 50px;
            background-image: url('../../assets/imags/contact/email.png');
            margin-top: 13px;
            transform: translateX(-300%);
            transition: all .4s ease-out .4s;
        
        }
        .img-container-3{
            width: 485px;
            height: 100px;
            background-image: url('../../assets/imags/contact/bodyimg.png');
            margin-top: 13px;
            text-align: left;
            transform: translateX(300%);
            transition: all .4s ease-out .2s;
            textarea{
                color: white;
                background-color: transparent;
                border: none;
                margin-left: 5px;
                margin-top: 3px;
                font-size: 1rem;
                color: #7e7c71;
                
                &:focus{
                    outline: none;
                }
            }
        }


        .send-btn{
            // position: absolute;
            margin-top: 13px;
            width: 95px;
            height: 40px;
            align-self: flex-end;
            background-color: #ffde01;
            border: none;
            font-weight: 700;
            font-size: .8rem;
            transform: translateX(1300%);
            transition: all .4s ease-out;
            cursor: pointer;
            &:focus{
                outline: none;

            }


        }
        .init{
            transform: translateX(0%);
        }
    }
    .details{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 13px;
        .prop{
            color: #FFDE00;
            font-weight: 100;
        }
        
        .val{
            color: #FCFCFC;
            font-weight: 100;
        }
    }
    .sotial-net{
        display: flex;
        position: relative;
        left: 50%;
        margin-left: -50px;
        text-decoration: none;
        margin-top: 13px;
        div{
            width: 27px;
            height: 27px;
            background-color: #FFDE00;
            color: #070600;
            border-radius: 50%;
            margin-left: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .init{
        transform: translateX(0%);
    }