ul,li{
    margin: 0;
    padding: 0;
}

.paging-container{
    position: absolute;
    top: 585px;
    left: 50%;
    margin-left: -200px;
    list-style: none;
    width: 400px;
    ul{
    display: flex;

    }
    li{
        cursor: pointer;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        background-color: #FCDD00;
        opacity: .3;
        margin-left: 6px;

    }

    .active{
        background-color: #FCDD00;
        opacity: 1;
       
    }
}
