

body{
    // @font-face { font-family: 'Lato-Black'; src: url('../../assets/fonts/Lato/Lato-Black.ttf')};
    // font-family: 'Lato-Black';
    background-color: #000000;

}

.main-container{
    // @font-face { font-family: 'Lato-Black'; src:url('../../assets/fonts/Lato/Lato-Black.ttf')};
    // font-family: 'Lato-Black';
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
   
}

.layout-container{
    width: 100vw;
}
.hamburger-btn{
position: fixed;
top: 10px;
right: 10px;
color: #FCFCFC;
background-color: transparent;
border: none;
font-size: 2rem;
padding: 5px;
cursor: pointer;
display: none;
&:focus{
    outline: none;
}


}

@media(max-width:580px){

   
    .hamburger-btn{
        display: block;
    }

    


}