

body{
    // @font-face { font-family: 'Lato-Black'; src: url('../../assets/fonts/Lato/Lato-Black.ttf')};
    // font-family: 'Lato-Black';
    background-color: #000000;

}

.main-container{
    // @font-face { font-family: 'Lato-Black'; src:url('../../assets/fonts/Lato/Lato-Black.ttf')};
    // font-family: 'Lato-Black';
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
   
}

.layout-container{
    width: 100vw;
}